<div class="mx-3 p-3 login-form">
    <h3 class="mt-1">Login</h3>

    <EditForm Model="user" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <div class="col-sm-12">
                <label for="username" class="form-label mb-1">Username</label>
                <InputText @bind-Value="user.Username" class="form-control" id="username" />
            </div>
        </div>

        <div class="form-group mt-2">
            <div class="col-sm-12">
                <label for="password" class="form-label mb-1">Password</label>
                <InputText @bind-Value="user.Password" class="form-control" id="password" />
            </div>
        </div>

        <button class="btn btn-primary mt-3" type="submit">Login</button>

    </EditForm>
</div>

@code {
    private UserLogin user = new UserLogin();

    private void HandleLogin()
    {
        Console.WriteLine($"User: {user.Username} has successfully logged in.");
    }
}
