@inherits LayoutComponentBase

<div class="blazor-background">
    <main>
        <div>
            <NavMenu />
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
